body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pixel{
    background: red;

    flex: 1;
}


.colorChange{
    background-color: blue;
}

.container{
    display: flex;
    width:500px;
    height:500px;
}

.row{
    display: flex;
    flex-direction: column;
    flex:1;
}

