body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pixel{
    background: red;

    flex: 1;
}


.colorChange{
    background-color: blue;
}

.container{
    display: flex;
    width:500px;
    height:500px;
}

.row{
    display: flex;
    flex-direction: column;
    flex:1;
}

.btns {
    display: flex;
    flex-direction: column;
}
